@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --clr-primary : #BA985D;
    --clr-secondary : #D4B57F;
    --clr-teritiary : #FFFBF5;
    --clr-grey : #979797;
    --clr-grey-1 : #E2E2E2;
    --clr-grey-2 : #EFEFEF;
    --clr-white: #FFFFFF;
}

body {
  font-family: 'Inter', sans-serif;
}

.button{
    border: none;
    border-radius : 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    border: solid 1.4px transparent;
}

.button-primary{
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.button-secondary{
    background-color: transparent;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
}

.button-primary:hover{
    background-color: var(--clr-secondary);
}

.button-secondary:hover{
    background-color: var(--clr-teritiary);
}

.button:disabled{
    background-color: var(--clr-grey-1);
    color: var(--clr-grey);
}

.button-secondary:disabled{
    border-color: var(--clr-grey);
    background-color: var(--clr-grey-2);
}

.padding-left{
    padding-left: 7px;
}

.padding-right{
    padding-right: 7px;
}