canvas{
    width: 50% !important ;
    height: 15rem !important;
    display: none;
    
}

.arch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arch-svg{
    transform: scale(0.15);
}
  
/* The slider itself */
.slider {
-webkit-appearance: none;  /* Override default CSS styles */
appearance: none;
width: 18rem;
height: 4px; 
background: #d3d3d3; /* Grey background */
outline: none; /* Remove outline */
opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
border-radius: 2px;
margin: 1rem;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 14px;
height: 14px;
border-radius: 50%; 
background: grey;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 14px;
height: 14px;
border-radius: 50%;
background: grey;
cursor: pointer;
}

.slider:hover {
opacity: 1; /* Fully shown on mouse-over */
}