.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.img{
    transform: scale(0.15);
    position: fixed;
    right: -300px;
}
  

.slider {
-webkit-appearance: none;
appearance: none;
width: 20rem;
height: 4px; 
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
border-radius: 2px;
margin: 1rem;
position: relative;
top : 10rem;
left: 20rem;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 14px;
height: 14px;
border-radius: 50%; 
background: grey;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 14px;
height: 14px;
border-radius: 50%;
background: grey;
cursor: pointer;
}

.slider:hover {
opacity: 1;
}