@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header{
  box-shadow: 0 8px 6px -6px rgba(60, 64, 67, 0.3);
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.App-link {
  color: #61dafb;
}

.card-container{
  display: flex;
  max-width: 50rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer{
  position:fixed;
  bottom: 0;
  margin: 1rem;
  text-align: center;
}